@using Microsoft.AspNetCore.Identity
@model nimporteou.Models.AccountViewModels.RegisterViewModel
@using System.Collections.Generic
@{
    ViewData["Title"] = "Paramètres de votre compte";
}

<h2>Changer vos paramètres de compte</h2>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <table>
        <tr>
            <td style="width:40%">Nom d'utilisateur:</td> 
            <td style="width:45%" >@Model.Username </td>
            <td style="width:15%"><img onclick="modifierAttribut(0)" src="https://cdn4.iconfinder.com/data/icons/simplicio/128x128/file_edit.png" alt="Modifier" height="30" width="30" /></td>
        </tr>
        <tr>
            <td style="width:40%">Mot de passe</td>
            <td style="width:45%">**********</td>
            <td style="width:15%"><a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed"><img onclick="modifierAttribut(0)" src="https://cdn4.iconfinder.com/data/icons/simplicio/128x128/file_edit.png" alt="Modifier" height="30" width="30" /></a></td>
            
        </tr>
        <tr>
            <td style="width:40%">Courriel:</td>
            <td style="width:45%">@Model.Email</td>
            <td style="width:15%"><img onclick="modifierAttribut(1)" src="https://cdn4.iconfinder.com/data/icons/simplicio/128x128/file_edit.png" alt="Modifier" height="30" width="30" /></td>
        </tr>
        <tr>
            <td style="width:40%">Catégorie favorite no1:</td>
            <td style="width:45%">@Model.Categorie1</td>
            <td style="width:15%"><img onclick="modifierAttribut(2)" src="https://cdn4.iconfinder.com/data/icons/simplicio/128x128/file_edit.png" alt="Modifier" height="30" width="30" /></td>
        </tr>
        <tr>
            <td style="width:40%">Catégorie favorite no1:</td>
            <td style="width:45%">@Model.Categorie1</td>
            <td style="width:15%"><img onclick="modifierAttribut(3)" src="https://cdn4.iconfinder.com/data/icons/simplicio/128x128/file_edit.png" alt="Modifier" height="30" width="30" /></td>
        </tr>
        <tr>
            <td style="width:40%">Catégorie favorite no2:</td>
            <td style="width:45%">@Model.Categorie2</td>
            <td style="width:15%"><img onclick="modifierAttribut(4)" src="https://cdn4.iconfinder.com/data/icons/simplicio/128x128/file_edit.png" alt="Modifier" height="30" width="30" /></td>
        </tr>
        <tr>
            <td style="width:40%">Catégorie favorite no3:</td>
            <td style="width:45%">@Model.Categorie3</td>
            <td style="width:15%"><img onclick="modifierAttribut(5)" src="https://cdn4.iconfinder.com/data/icons/simplicio/128x128/file_edit.png" alt="Modifier" height="30" width="30" /></td>
        </tr>
        <tr>
            <td style="width:40%">Date de naissance</td>
            <td style="width:45%">@Model.DateNaissance</td>
            <td style="width:15%"><img onclick="modifierAttribut(6)" src="https://cdn4.iconfinder.com/data/icons/simplicio/128x128/file_edit.png" alt="Modifier" height="30" width="30" /></td>
        </tr>
    </table>
</div>
